<app-header></app-header>
<main class="space-y-16 px-4 py-8">
  <!-- SECTION 1-->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        1- Fazendo um pedido
      </h2>
      <p class="text-gray-700">Clique no ícone plus [+].</p>
    </article>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img11.png"
        alt="Print delivery-img11"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!-- SECTION 2-->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        2- Fazendo um pedido
      </h2>
      <p class="text-gray-700">Clique em "FECHAR PEDIDO".</p>
    </article>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img12.png"
        alt="Print delivery-img12"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!-- SECTION 3-->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        3- Fazendo um pedido
      </h2>
      <p class="text-gray-700">Clique em "IDENTIFIQUE-SE para continuar".</p>
    </article>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img13.png"
        alt="Print delivery-img13"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!-- SECTION 4-->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        4- Fazendo um pedido
      </h2>
      <p class="text-gray-700">
        Escolha a sua forma de entrar. Neste exemplo, a opção utilizada foi "Sem
        cadastro".
      </p>
    </article>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img14.png"
        alt="Print delivery-img14"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!-- SECTION 5-->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        5- Fazendo um pedido
      </h2>
      <p class="text-gray-700">Clique em "[+ incluir novo endereço]"".</p>
    </article>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img15.png"
        alt="Print delivery-img15"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!-- SECTION 6-->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        6- Fazendo um pedido
      </h2>
      <p class="text-gray-700">
        Para facilitar a consulta, basta inserir o CEP e clicar no ícone da lupa
        ao lado do campo. O endereço será preenchido automaticamente, e o foco
        será direcionado para o campo de número, pronto para ser preenchido. E
        em seguida, clique no botão "SALVAR".
      </p>
      <br />
      <p class="text-red-600">
        <strong>OBSERVAÇÃO: </strong>
        O sistema verificará se o seu negócio realiza entregas no endereço do
        cliente e exibirá as taxas de entrega correspondentes com base na
        configuração "Config Mapa". Se a "Config Mapa" não estiver configurada
        ou não cobrir o raio de alcance do endereço do cliente, prevalecerá a
        configuração "Config Bairro". Nesse caso, o sistema usará as informações
        da "Config Bairro" para determinar se a entrega é possível e quais serão
        as taxas aplicáveis.
      </p>
      <br />
      <p class="text-red-600">
        Se o endereço do cliente não estiver coberto pelo raio de alcance da
        "Config Mapa" nem da "Config Bairro", ou se ambas as configurações
        estiverem desativadas, o sistema exibirá uma mensagem informando que o
        delivery não realiza entregas naquele endereço.
      </p>
    </article>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img16.png"
        alt="Print delivery-img16"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!-- SECTION 7-->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        7- Fazendo um pedido
      </h2>
      <p class="text-gray-700">
        Exemplo de endereço dentro do raio de alcance da Config. Mapa.
      </p>
    </article>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img17.png"
        alt="Print delivery-img17"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img10.png"
        alt="Print delivery-img10"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!-- SECTION 8-->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        8- Fazendo um pedido
      </h2>
      <p class="text-gray-700">
        Exemplo de endereço que<strong> NÃO </strong>está dentro do raio de
        alcance da Config. Mapa.
      </p>
      <br />
      <p class="text-gray-700">
        Nesse caso, o sistema utilizará a configuração definida em "Config.
        Bairro".
      </p>
    </article>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img18.png"
        alt="Print delivery-img18"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img9.png"
        alt="Print delivery-img9"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!-- SECTION 9-->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        9- Fazendo um pedido
      </h2>
      <p class="text-gray-700">
        Exemplo de endereço que<strong> NÃO </strong>está dentro do raio de
        alcance da Config. Mapa e Config Bairro.
      </p>
      <br />
      <p class="text-gray-700">
        Nesse caso, o sistema exibirá a mensagem:
        <strong
          >"Infelizmente não atendemos neste ENDEREÇO informado. Tente outro
          endereço para entrega."</strong
        >
      </p>
    </article>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img20.png"
        alt="Print delivery-img20"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img19.png"
        alt="Print delivery-img19"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img21.png"
        alt="Print delivery-img21"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!--Botões-->
  <div class="flex justify-center mt-8 space-x-4">
    <!-- Botão Voltar -->
    <button
      (click)="previousSection()"
      class="bg-gray-500 text-white px-8 py-3 text-md rounded-full hover:bg-blue-500 transition-all flex items-center justify-center"
    >
      <img src="icon-back.png" alt="Ícone Back" class="h-5 w-5 mr-2" />

      <span>Voltar</span>
    </button>
  </div>
</main>
<br />
<app-footer></app-footer>
