<app-header></app-header>
<main class="space-y-16 px-4 py-8">
  <!-- SECTION 1-->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h1 class="text-4xl font-bold text-gray-800 mb-4">
        1- Acessando o Delivery
      </h1>
      <p class="text-lg text-gray-700">
        Para acessar o site de delivery do seu negócio, vá até o módulo "Acesso
        Rápido" e clique em "Opções de Delivery".
      </p>
    </article>

    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img1.png"
        alt="Print delivery-img1"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!-- SECTION 2-->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h1 class="text-4xl font-bold text-gray-800 mb-4">
        2- Obter link do site do delivery.
      </h1>
      <p class="text-lg text-gray-700">
        Em seguida, basta clicar no link ou copiá-lo e colá-lo em um navegador
        de sua preferência.
      </p>
    </article>

    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img2.png"
        alt="Print delivery-img2"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!-- SECTION 3 -->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        3- Conferindo área de cobertura
      </h2>
      <p class="text-gray-700">
        Após acessar o site, clique no ícone dos 3 pontinhos no canto superior
        esquerdo.
      </p>
    </article>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img3.png"
        alt="Print delivery-img3"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!-- SECTION 4 -->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        3.1- Conferindo área de cobertura
      </h2>
      <p class="text-gray-700">Clique em "Área de cobertura"</p>
    </article>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img4.png"
        alt="Print delivery-img4"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!-- SECTION 5 -->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        4- Consultar disponibilidade
      </h2>
      <p class="text-gray-700">
        Para facilitar a consulta, basta inserir o CEP e clicar no ícone da lupa
        ao lado do campo. O endereço será preenchido automaticamente, e o foco
        será direcionado para o campo de número, pronto para ser preenchido. E
        em seguida, clique no botão "Consultar".
      </p>
    </article>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img5.png"
        alt="Print delivery-img5"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!-- SECTION 6 -->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        4.1- Consultar disponibilidade
      </h2>
      <p class="text-red-500 font-bold">
        Vale lembrar que a imagem acima, com o pop-up exibindo o formulário
        completo para preenchimento do endereço, só será exibida se a
        configuração 'Config Mapa' estiver ativada no seu negócio. Caso
        contrário, permanecerá apenas o pop-up com o campo de CEP, como era
        anteriormente.
      </p>
    </article>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img8.png"
        alt="Print delivery-img8"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!-- SECTION 7 -->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        4.2- Consultar disponibilidade
      </h2>
      <p class="text-gray-700">
        Após clicar no botão "Consultar", uma mensagem aparecerá no final do
        formulário informando se o delivery está disponível ou não para o
        endereço fornecido.
      </p>
    </article>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img6.png"
        alt="Print delivery-img6"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <!-- SECTION 8 -->
  <section class="flex flex-col items-center space-y-8 px-4 py-8">
    <article class="text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">
        4.3- Consultar disponibilidade
      </h2>
      <p class="text-gray-700">
        Exemplo: Se você informar um endereço onde o delivery não está
        disponível, a mensagem exibida será: "NÃO ENTREGAMOS NESSE ENDEREÇO."
      </p>
    </article>
    <figure class="w-full max-w-7xl">
      <img
        src="delivery-img7.png"
        alt="Print delivery-img7"
        class="w-full h-auto rounded-lg shadow-lg"
      />
    </figure>
  </section>

  <div class="flex justify-center mt-8 space-x-4">
    <!-- Botão Voltar -->
    <button
      (click)="previousSection()"
      class="bg-gray-500 text-white px-8 py-3 text-md rounded-full hover:bg-blue-500 transition-all flex items-center justify-center"
    >
      <img src="icon-back.png" alt="Ícone Back" class="h-5 w-5 mr-2" />

      <span>Voltar</span>
    </button>

    <!-- Botão Simular Entrega -->
    <button
      (click)="nextSection()"
      class="bg-red-500 text-white px-8 py-3 text-md rounded-full hover:bg-blue-500 transition-all flex items-center justify-center"
    >
      <span>4/5 Fazendo um pedido</span>

      <img src="icon-go.png" alt="Ícone Go" class="h-5 w-5 ml-2" />
    </button>
  </div>
</main>
<br />
<app-footer></app-footer>
